# This file maps old author identities to the new one
Akhtarr12 <akhtarrr012@gmail.com> rubiakhan02 <rubiakhan369@gmail.com>
Akhtarr12 <akhtarrr012@gmail.com> arsan13 <anbarsan135@gmail.com>
Akhtarr12 <akhtarrr012@gmail.com> Anbarsan P <anbarsan135@gmail.com>
Akhtarr12 <akhtarrr012@gmail.com> Rubia Khan <rubiakhan369@gmail.com>
